<div class="jumbotron bg-warning">
    <h2>🚨 This version of TMS is now obsolete.</h2>
</div>

<div class="jumbotron">

    <h4>Our current version of TMS is accessible in your web browser at the address:</h4>
    <br/>
    <h4>👉 <mark>https://tms.artmuseums.harvard.edu/galsys/collections</mark></h4>
    <br/>

    <hr> 
    <br/>
    <h5>Instructions for logging in and much more are at: https://harvardwiki.atlassian.net/wiki/x/kV_NAw</h5>
</div>